
@charset "UTF-8";

/*ID's*/

#main-head {
    background-color: black;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
}

#main-sect {
    background-color: rgba(255, 255, 255, .5);
    margin: 85px calc((100% - 1200px) / 2) 0 calc((100% - 1200px) / 2);
    width: 1200px;
}

#main-foot {
    background-color: black;
    height: 100px;
}

/*Classes*/

.main-sect-artc {
    background-color: #1e1e1e;
    height: 600px;
    margin-bottom: 50px;
    width: 1200px;
}

/*Elements*/

* {
  border: 0;
  font-family: Calibri, 'Calibri ttf', Arial;
  margin: 0;
  outline: 0;
  padding: 0;
}

html {
  background: url(images/connections-black.png) 400px/400px repeat, linear-gradient(#19d7fb, #1e61ee) fixed;
  background-color: #424242;
  background-position-y: 0, 0;
  border: 0;
  color: white;
  height: 100%;
  margin: 0;
  padding: 0;
}