@charset "UTF-8";

/*ID's*/

/*Classes*/
.lecture-info {
  background: rgba(0, 0, 0, .75);
  border-radius: 2px;
  margin: 30px calc((100% - 900px) / 2);
  max-width: 900px;
  width: 100%;
}

.lecture-info-theme  {
  padding: 24px;
}

.lecture-info-text p {
  margin: 0;
  padding: 16px;
  text-align: justify;
  text-indent: 50px;
}

.lecture-info-text p:first-of-type:not(:last-of-type) {
  padding-bottom: 8px;
}

.lecture-info-text p + p {
  padding-bottom: 8px;
  padding-top: 0;
}

.lecture-info-text ~ .lecture-info-text {
  border-top: 1px solid #3b3b3b;
}

.lecture-info-author {
  justify-content: center;
}

.lecture-info-author h2 {
  margin: 0;
}

.lecture-info-select {
  align-items: center;
  justify-content: space-around;
  padding: 16px;
}

/*Elements*/

/*Media*/
@media (max-width: 900px) {
  .lecture-info {
    margin: 0;
  }
}

@media (max-width: 660px) {
  .lecture-info-theme-title {
    margin: 0;
    width: 100%;
  } 

  .mdl-cell--6-col-phone {
    max-width: 350px;
    width: calc(100% - 16px) !important;
  }
}

/*Fonts*/