@charset "UTF-8";

/*ID's*/
#back-canvas {
  position: fixed; 
  top: 0; 
  height: 100%; 
  width: 100%; 
  background: url(styles/images/connections-white.png) repeat;
}

/*Classes*/
.article-welcome {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  margin: 0 calc((100% - 900px) / 2);
  margin-top: 30px;
  max-width: 900px;
  width: 100%;
}

.article-welcome-logo {
  padding: 24px;
}

.article-welcome-info {
  padding: 16px;
  text-align: justify;
  text-indent: 50px;
}

.article-schedule {
  padding: 16px;
}

.article-schedule > h2 {
  margin: 0;
}

.article-schedule .mdl-grid {
  justify-content: center;
  max-width: 900px;
}

.article-schedule table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.article-schedule table td {
  height: 40px;
  border: 1px solid #3b3b3b;
  min-width: 60px;
  font-size: 16px;
}

.article-schedule table td[rowspan="2"] {
  padding: 0 18px;
}

.article-schedule table td span ~ span {
  font-size: 13px;
}

.article-schedule table a {
  text-decoration: none;
}

.article-schedule table tbody {
  cursor: pointer;
}

.article-schedule table tbody:hover {
  background-color: rgba(255, 255, 255, .12);
}

.article-history {
  margin: 0 calc((100% - 900px) / 2);
  max-width: 900px;
  padding-top: 16px;
}

.article-history > h2 {
  margin: 0;
}

.article-history > div {
  padding: 16px;
  text-align: justify;
  text-indent: 50px;
}

.article-place {
  position: relative;
}

.article-place::after {
  background: url(../images/back-earth-view-IME.png) center/cover;
  content: "";
  height: 100%;
  left: 0;
  opacity: .5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.article-place > div {
  margin: 0 calc((100% - 900px) / 2);
  max-width: 900px;
  padding: 16px;
}

.article-place > div > h2 {
  margin-top: 0;
}

.article-place > div p {
  text-align: justify;
  text-indent: 50px;
}

.article-place > div > .mdl-grid {
  justify-content: center;
}

.article-place-maps {
  border: 0;
}

/*Elements*/

/*Media*/
@media (max-width: 900px) {
  .article-welcome, .article-history, .article-place > div {
    margin: 0;
  }
}

@media (max-width: 660px) {
  .mdl-cell--6-col-phone {
    max-width: 350px;
    width: calc(100% - 16px) !important;
  }
}

/*Fonts*/